<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Python Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">
</head>
<body>
    <h1>Welcome to My Python Website!</h1>
    <p><strong>Check out our Python games:</strong></p>

    <!-- Link to start a new Hangman game -->
    <p><a href="{% url 'pythongames:new_game' %}">Play Hangman</a></p>

    <!-- If you want to display links for existing games -->
    {% for game in games %}
        <p><a href="{% url 'pythongames:hangman' game_id=game.id %}">Continue Game {{ game.id }}</a></p>
    {% endfor %}

     <!-- Link to start a new Tic Tac Toe game -->
     {% load static %}
     <p><a href="{% url 'tic_tac_toe:tic_tac_toe' %}">Start Tic Tac Toe</a></p>
    
    <p><strong>Build Your Own Adventure:</strong></p>
    <p><a href="{% url 'adventure:intro' %}">Start Adventure</a></p>

    <!-- Python Practice Examples -->
    <p><strong>Learn Python Basics:</strong></p>
    <a href="{% url 'pythonpractice:print_example' %}">Print Example</a>

</body>
</html>
