<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pythongames/style.css' %}">
</head>
<body>
    <h1>Hangman Game</h1>
    
    <!-- Display the hangman -->
    <div>
        {% if game.attempts_left == 6 %}
            <pre>
            ________
            |      |
            |
            |
            |
            |
            </pre>
        {% elif game.attempts_left == 5 %}
            <pre>
            ________
            |      |
            |      O
            |
            |
            |
            </pre>
        {% elif game.attempts_left == 4 %}
            <pre>
            ________
            |      |
            |      O
            |      |
            |
            |
            </pre>
        {% elif game.attempts_left == 3 %}
            <pre>
            ________
            |      |
            |      O
            |     /|
            |
            |
            </pre>
        {% elif game.attempts_left == 2 %}
            <pre>
            ________
            |      |
            |      O
            |     /|\
            |
            |
            </pre>
        {% elif game.attempts_left == 1 %}
            <pre>
            ________
            |      |
            |      O
            |     /|\
            |     /
            |
            </pre>
        {% elif game.attempts_left == 0 %}
            <pre>
            ________
            |      |
            |      O
            |     /|\
            |     / \
            |
            </pre>
        {% endif %}
    </div>
    
    <p>Attempts left: {{ game.attempts_left }}</p>
    <p>Word: {{ game.display_word }}</p>

    {% if not game_over %}
    <form method="post" action="{% url 'pythongames:hangman' game_id=game.id %}">
        {% csrf_token %}
        <label for="guessed_letter">Guess a letter:</label>
        <input type="text" name="guessed_letter" maxlength="1" required>
        <button type="submit">Submit</button>
    </form>
    <script>
        // JavaScript to focus the input field after form submission
        document.getElementById('hangman-form').addEventListener('submit', function() {
            document.querySelector('input[name="guessed_letter"]').focus();
        });
    </script>
{% endif %}

{% if game_over %}
    {% if '_' not in game.display_word %}
        <p>You won!</p>
    {% else %}
        <p>You lost! The word was '{{ game.word }}'.</p>
    {% endif %}
    <a href="{% url 'pythongames:new_game' %}">Play Again</a>
{% endif %}

</body>
</html>
